{% extends "base.html" %}
{% block title %}Setting New password{% endblock %}

{% block content %}
{% if validlink %}
<div class="container">
    <div class="banner">
        <div class="col-12">
            <p>Please enter your new password twice.<br />
                So we can verify you typed it in correctly.</p>
            <form action="" method="post" class="accountform">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                {{ form.new_password1.errors }}
                <label for="id_new_password1">New password:</label>
                {{ form.new_password1 }}
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirm password:</label>
                {{ form.new_password2 }}

                <div class="form-group">
                    <input class="btn btn-primary submit-order-button" type="submit" value="Confirm" />
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="banner">
    <h1>Password reset unsuccessful</h1>
    <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
</div>
{% endif %}
{% endblock %}