{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        {% if products %}
        {% for product in products %}
        <div class="col-4">
            <div class="card">
                <div class="view overlay">
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')">
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ product.name }}</h3>
                    <p class="product-description">{{ product.description }}</p>
                    <div class="row">
                        <div class="col-6">
                            <p>${{ product.price }}</p>
                        </div>
                        <div class="col-6">
                            <form method="post" action="{% url 'add_to_cart' product.id %}">
                                {% csrf_token %}
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success fas fa-shopping-cart" type="submit"></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-12">
            <div class="banner">
                <div class="container">
                    <h1>Oh no!</h1>
                    <p>The store seems to be empty at the moment, maybe add a product yourself?</p>
                    <a href="{% url 'add_item' %}" class="button button-primary">Lets do it!</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}