{% extends 'base.html' %}{% block page_title %}Login Page{% endblock %} {% block page_heading %}Home{% endblock %}
{% load bootstrap_tags %}
{% block content %}

<!-- HEADER -->
<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                {{ add_item_form.name }}
                {{ add_item_form.description }}
                {{ add_item_form.price }}
                {{ add_item_form.image }}
            </div>
        </div>
        <button class="btn btn-primary add-file-button" type="submit">Submit</button>
    </form>
</div>
{% endblock %}