{% extends "base.html" %}
{% block content %}
<div class="col-12">
    <div class="banner">
        <div class="container">
            <h1>{{ user }}</h1>
            <p>Your listed products</p>
            {% for item in cart_items %}
            {{ item.product }}
            {% if item.product.username == user %}
            <p>{{ item.product.name }}</p>
            {% endif %}
            {% endfor %}
            <a href="{% url 'products' %}" class="button button-primary">Take me shopping!</a>
        </div>
    </div>
</div>
{% endblock %}