{% extends 'base.html' %}
{% load static %}
{% block page_title %}
Registration Page
{% endblock %}
{% block page_heading %}
User Registration
{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                {{ registration_form.email }}
                {{ registration_form.username }}
                {{ registration_form.password1 }}
                {{ registration_form.password2 }}
            </div>
        </div>
        <button class="btn btn-primary add-file-button" type="submit">Submit</button>
    </form>
</div>
{% endblock %}